body{
	/*background: grey;*/
	font-family: 'GFS Neohellenic', sans-serif;
}

h1, h2{
	font-family: 'Ramabhadra', sans-serif;
}



.jumbotron{
	background-image: url(images/ornament.jpg);
	background-size: cover;
	background-position: center;
}

.clm_map{
	height: 20rem;

}

 .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }